
@{
    ViewBag.Title = "Change Password Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thay đổi mật khẩu thành công !</h2>
@Html.ActionLink("Trở về", "Index", "Home", null, new { @class = "btn btn-primary" })
