
@{
    ViewBag.Title = "VnpayReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<link href="~/Content/assets/styles/styles.css" rel="stylesheet" />
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            @*<div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="payment-header">Thanh toán</h1>
                    @if (ViewBag.ThanhToanThanhCong != null)
                    {
                        <p class="payment-success">Bạn đã thanh toán thành công với @ViewBag.ThanhToanThanhCong</p>
                    }
                    <p class="payment-info">@ViewBag.InnerText</p>
                </div>
            </div>*@

            <hr />
            @*<div class="row">
                    <div id="show_success"></div>
                    <div class="col-md-9">

                    </div>

                </div>*@
        </div>
    </div>
</div>

