.bodycafe1 {
    background-color: #FCECC5;
    color: #000;
}
.account_select {
    display: flex; /* Hiển thị theo chiều ngang */
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    transition: all 0.3s ease;
}

.account_select li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}

.account_select li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 14px;
    transition: all 0.3s ease;
}

.account_select li a:hover {
    color: #b5aec4;
}

.account_select li:last-child a {
    border-bottom: none;
}

.account_selectn li a i {
    margin-right: 10px;
}

.body123 {
    background-color: #fff2d9;
    color: #000;
}

.headercafe {
    background-image: url("/Content/assets/images/Navigation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.brown-content {
    background-color: saddlebrown;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
}
.add-to-cart-buttonn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

    .add-to-cart-buttonn:hover {
        background-color: #45a049;
    }

    .add-to-cart-buttonn:active {
        background-color: #3e8e41;
    }


/* CSS */
.payment-header {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.payment-success {
    color: #28a745; /* Màu xanh lá cây cho thông báo thành công */
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.payment-info {
    font-size: 16px;
    color: #555;
}
